h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  color: #ffffff;
  background-color: #5a9f7e;
  padding: 30px;
  
  text-shadow: 
    0 0 5px #00f2ff,
    0 0 10px #00f2ff,
    0 0 20px #00f2ff,
    0 0 40px #00f2ff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    margin-top: -10px;
    letter-spacing: 2px;

    text-shadow:
        0 0 3px #00f2ff,
        0 0 6px #00f2ff,
        0 0 12px #00f2ff;
    
    opacity: 0.9;
}